<header>
  <nav>
    <h1>Members Only</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/log-in">Login</a></li>
      <li><a href="/sign-up">Signup</a></li>
      <li><a href="/club">Club</a></li>
    </ul>
  </nav>
</header>
