<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <% if (locals.user) {%>
      <h1>Welcome, <%= user.first_name %></h1>
      <a href="/log-out">LOG OUT</a>
      <% } else { %>
      <p>You are not currently logged in.</p>
      <% } %>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
