<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <main>
      <h1>Log-in</h1>
      <%- include('partials/errors', { errors: errors }) %>
      <form action="/log-in" method="POST">
        <label for="email">email</label>
        <input id="email" name="email" placeholder="email" type="email" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <button type="submit">Log In</button>
      </form>
    </main>

    <%- include('partials/footer') %>
  </body>
</html>
